@charset "UTF-8";
html, body {
    background-color: #0093F5;
    font-family: Verdana, Geneva, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left,  #0093F5 0%, #00DFF0 100%);
    background: -webkit-linear-gradient(left, #0093F5 0%, #00DFF0 100%);
    background: -o-linear-gradient(left, #0093F5 0%, #00DFF0 100%);
    background: linear-gradient(to right, #0093F5 0%,#00DFF0 100%);
}
h1 {
    text-align: center; /*this centers the text inside of h1*/
    color: #3B5E75;
    background-color: #00F5B9;
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
#wrapper {
    width: 85%;
    height: 85%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color:#00F5B9;
    border-radius: 10px;
}
#nav{
    padding: 0px;          
    text-align: center; /*this centers the text inside of nav*/
    height: 75%;
    background-color:#F56801;
    margin-left: auto;
    margin-right: auto;
    line-height: 50vh;  /*this makes sure that the text boxes are situated in the middle of nav*/
}
#nav a {
    display: inline-block; /*this turns the inline text of nav a into a block 
    that can be manipulated in things like width and height, while keeping them like inline elements that stay side by side*/
    background-color: #3B5E75;
    color: white;
    padding: 5% 5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    line-height: normal;  /*this makes sure that the text boxes are not too large*/
    text-decoration: none;
}
nav a:hover {
    background-color: #3B7567;  
    opacity: 0.5;
    color: black;               
}
#footer {
    height:80px;
}

label {
    background-color: #3B5E75;
    color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

input {
    border-radius: 5px;
    background-color: #75533B;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 5%;
}
::-webkit-input-placeholder {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

:-moz-placeholder {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 60%;              
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
form p {
    text-align: center;        /*this centers the text inside of the <p> in form*/
    margin-bottom: 15px;     
}

#projects {
    text-align: center; /*this centers the text inside of #projects*/
    padding: 20px; 
    background-color:#75533B;
}

.project{
    text-align: center; /*this centers the text inside of .project*/
    background-color: #00F5B9;
    color: #386C70;
    border-radius: 8px;
    display: inline-block; /*this makes sure that the projects sit side by side*/
    margin: 1%;
    width: 45%;
}

input[type="reset"], input[type="submit"] {
  color: white;
}

.photovideo{
    text-align: center; /*this centers the text inside of photovideo*/
    margin-left: auto;
    margin-right: auto;
}
.photovideo figure,
.photovideo video{
    display: inline-block;  /* makes photo and video sit side by side */
    background-color: #386C70;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:55%;
}

figure{
    background-color: #386C70;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

figcaption{
    background-color: #F56801;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    color: white;
}

#aboutme{
    background-color: #386C70;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center; /*this centers the text inside of aboutme*/
    color: white;   
    
}

button {
    background-color: #3B5E75;
    color: white;
    border-radius: 5px;
    width: 10%;
    margin-left: 80%;
    margin-right: auto;
}
